<div class="card card-container">
      <img id="logo-img" class="logo-img" src="favicon.ico" />
      <h3 style="text-align: center">Register</h3>
      <form class="form-signin">
          <input type="input" ng-model="registerUser.name" id="inputEmail" class="form-control" placeholder="Username" autofocus>
          <input type="input" ng-model="registerUser.email" id="inputEmail" class="form-control" placeholder="email">
          <input type="password" ng-model="registerUser.password" id="inputPassword" class="form-control" placeholder="password">
          <button class="btn btn-lg btn-warning btn-block btn-signin" type="submit" ng-click="register(registerUser)">Register</button>
      </form><!-- /form -->
      <div class="signin-help">
    <p>forgot your password? <a href="">click here</a></p>
    <p>already a user? <a href="">login</a></p>
  </div>
</div>
