body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

ed-system-map{
  z-index: 1;
}

system-info{
  z-index: 4;
  height:100%;
  position:absolute;
  top:52px;
  right:0;
  width:300px;
  background-color: #222222;
  opacity: .85;
}

.systemInfoHeader{
  background-color: #555555;
  color:#ffffff;
  border-bottom: 1px solid #dddddd;
}



.infoLabel{
  color:#eeeeee;
  text-align: left;
}

.infoItem{
  color: #eeeeee;
  font-weight: bold;
}

canvas {
	width: 100%;
	height: 100%
}

#pointer {
        color: #ffffff;
        font-size: 16px;
        font-weight: 600;
        position: absolute;
        top: -20px;
        text-align: center;
        pointer-events: none;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        visibility: hidden;
        display: none;
    }

#edNavBar{
  margin-bottom: 0px;
  position:absolute;
  top:0;
  left:0;
  width:100%;
}

#edNavBar  img {
  width: 32px;
margin-top: 10px;
}

#searchSystemListItem {
  margin-top: 4px;
}

.typeahead-demo .custom-popup-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  background-color: #f9f9f9;
}

.typeahead-demo .custom-popup-wrapper > .message {
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  color: #868686;
}

.typeahead-demo .custom-popup-wrapper > .dropdown-menu {
  position: static;
  float: none;
  display: block;
  min-width: 160px;
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.loadingCircle {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  box-sizing: border-box;
  border: 10px solid rgba(255, 255, 255, 0.2);
  border-top-color: #FFF;
  animation: spin 1s infinite linear;
}


@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.loadingContainer {
   position: relative;
   display: inline-block;
   padding: 30px;
   width: 80px;
   height: 80px;
 }

 loading-spinner{
   position: absolute;
   margin-left: 65px;
 }
