body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

ed-system-map{
  z-index: 1;
}

system-info{
  z-index: 4;
  height:400px;
  position:absolute;
  top:0;
  right:0;
  width:300px;
  background-color: #222222;
  opacity: .85;
}

.systemInfoHeader{
  background-color: #555555;
  color:#ffffff;
  border-bottom: 1px solid #dddddd;
}

.infoLabel{
  color:#eeeeee;
  text-align: left;
}

.infoItem{
  color: #eeeeee;
  font-weight: bold;
}

canvas {
	width: 100%;
	height: 100%
}

#pointer {
        color: #ffffff;
        font-size: 16px;
        font-weight: 600;
        position: absolute;
        top: -20px;
        text-align: center;
        pointer-events: none;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        visibility: hidden;
        display: none;
    }
