body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 600px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

canvas {
	width: 100%;
	height: 100%
}

#pointer {
        color: #ffffff;
        font-size: 16px;
        font-weight: 600;
        position: absolute;
        top: -20px;
        text-align: center;
        pointer-events: none;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        visibility: hidden;
        display: none;
    }
