
      <!-- Static navbar -->
      <nav id="edNavBar" class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Elite Dangerous Universe</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
              <li class="dropdown">
                <a uib-dropdown-toggle class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Color By <span class="caret"></span></a>
                <ul uib-dropdown-menu class="dropdown-menu" ng-model="systemColoring">
                  <li ng-click="changeColoring('economy')"><a>Economy</a></li>
                  <li ng-click="changeColoring('allegiance')"><a>Allegiance</a></li>
                  <li ng-click="changeColoring('government')"><a>Government</a></li>
                </ul>
              </li>
                <li><a>Search</a></li>
                <li id="searchSystemListItem">
                  <input type="text" id="searchSystemsInput" class="form-control" ng-model="selectedSystem" typeahead-on-select="changeSystem($item, $model, $label, $event)" uib-typeahead="system as system.name for system in systems | filter:$viewValue | limitTo:8" class="form-control" typeahead-show-hint="true" typeahead-wait-ms="300" typeahead-min-length="1">
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right"  ng-if="isLoggedIn">
                <li><img gravatar-src-once="user.email"></li>
                <li class="dropdown">
                  <a uib-dropdown-toggle class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.name}}<span class="caret"></span></a>
                  <ul uib-dropdown-menu class="dropdown-menu">
                    <li ng-click="logout()"><a href="">Logout</a></li>
                  </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-if="!isLoggedIn">
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
