<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" style="padding: 1px 1px 1px 1px;">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
          <div class="row">
            <div class="col-sm-3">
              <i class="fa fa-long-arrow-right" style="cursor:pointer" ng-click="hideSystemInfo()"></i>
            </div>
            <div class="col-sm-9">System Information</div>
          </div>
        </div>

        <!-- Table -->
        <table class="table table-bordered">
          <tr>
            <td style="width:150px;">System Name</td>
            <td>{{selectedSystem.name}}</td>
          </tr>
          <tr>
            <td style="width:150px;">Allegiance</td>
            <td>{{selectedSystem.allegiance}}</td>
          </tr>
          <tr>
            <td style="width:150px;">Faction</td>
            <td>{{selectedSystem.faction}}</td>
          </tr>
          <tr>
            <td style="width:150px;">Government</td>
            <td>{{selectedSystem.government}}</td>
          </tr>
          <tr>
            <td style="width:150px;">Needs Permit</td>
            <td>{{selectedSystem.permit}}</td>
          </tr>
          <tr>
            <td style="width:150px;">Population</td>
            <td>{{selectedSystem.population | number}}</td>
          </tr>
          <tr>
            <td style="width:150px;">Power</td>
            <td>{{selectedSystem.power}}</td>
          </tr>
          <tr>
            <td style="width:150px;">State</td>
            <td>{{selectedSystem.state}}</td>
          </tr>
          <tr>
            <td style="width:150px;">Economy</td>
            <td>{{selectedSystem.primary_economy}}</td>
          </tr>
          <tr>
            <td style="width:150px;">Security</td>
            <td>{{selectedSystem.security}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" style="padding: 1px 1px 1px 1px">
      <div class="panel panel-default">
          <div class="panel-heading">
              <h3 class="panel-title">Stations</h3>
          </div>
          <ul class="list-group">
              <a class="list-group-item" ng-if="(stations.length === 0) && (isLoading !== true)">No station data</a>
              <a class="list-group-item mousePointer" style="color: #dddddd;" ng-repeat="station in stations" style="padding: 0px 15px;"  ng-click="open(station, selectedSystem)">{{station.name}}</a>
          </ul>
      </div>
    </div>
  </div>
      <loading-spinner ng-if="isLoading"></loading-spinner>
</div>
