
      <!-- Static navbar -->
      <nav id="edNavBar" class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">ED Galaxy Online</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a>Home</a></li>
              <li class="dropdown">
                <a uib-dropdown-toggle class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Systems <span class="caret"></span></a>
                <ul uib-dropdown-menu class="dropdown-menu">
                  <li><a>Popular Systems</a></li>
                    <li><a>Search Systems</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a uib-dropdown-toggle class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Stations <span class="caret"></span></a>
                <ul uib-dropdown-menu class="dropdown-menu">
                  <li><a>Popular Stations</a></li>
                    <li><a>Search Stations</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a uib-dropdown-toggle class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Trade <span class="caret"></span></a>
                <ul uib-dropdown-menu class="dropdown-menu">
                  <li><a>Popular Trade Routes</a></li>
                    <li><a>Search Trade Routes</a></li>
                </ul>
              </li>
                <li><a>Search</a></li>
                <li id="searchSystemListItem"><input type="text" id="searchSystemsInput" class="form-control" ng-model="selectedSystem" typeahead-on-select="changeSystem($item, $model, $label, $event)" uib-typeahead="system as system.name for system in systems | filter:$viewValue | limitTo:8" class="form-control" typeahead-show-hint="true" typeahead-min-length="2">
            </ul>
            <ul class="nav navbar-nav navbar-right"  ng-if="loggedIn == true">
              <li><img gravatar-src-once="user.email"></li>
                <li><a>Patrick Burns</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-if="loggedIn == false">
              <li><a>Register</a></li>
              <li ng-click="openLoginModal()"><a>Login</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
