<div class="container">
  <div class="row">
    <div class="col-sm-12 systemInfoHeader">System Information</div>
  </div>
  <div class="row">
    <div class="col-sm-2 infoLabel no-margin">System Name: </div>
    <div class="col-sm-10 infoItem">{{selectedSystem.name}}</div>
  </div>
  <div class="row">
    <div class="col-sm-2 infoLabel no-margin">Allegiance: </div>
    <div class="col-sm-10 infoItem">{{selectedSystem.allegiance}}</div>
  </div>
  <div class="row">
    <div class="col-sm-2 infoLabel no-margin">Faction: </div>
    <div class="col-sm-10 infoItem">{{selectedSystem.faction}}</div>
  </div>
  <div class="row">
    <div class="col-sm-2 infoLabel no-margin">Government: </div>
    <div class="col-sm-10 infoItem">{{selectedSystem.government}}</div>
  </div>
  <div class="row">
    <div class="col-sm-2 infoLabel no-margin">Needs Permit: </div>
    <div class="col-sm-10 infoItem">{{selectedSystem.permit}}</div>
  </div>
  <div class="row">
    <div class="col-sm-2 infoLabel no-margin">Population: </div>
    <div class="col-sm-10 infoItem">{{selectedSystem.population | number}}</div>
  </div>
  <div class="row">
    <div class="col-sm-2 infoLabel no-margin">Power: </div>
    <div class="col-sm-10 infoItem">{{selectedSystem.power}}</div>
  </div>
  <div class="row">
    <div class="col-sm-2 infoLabel no-margin">Power State: </div>
    <div class="col-sm-10 infoItem">{{selectedSystem.state}}</div>
  </div>
  <div class="row">
    <div class="col-sm-2 infoLabel no-margin">Primary Economy: </div>
    <div class="col-sm-10 infoItem">{{selectedSystem.economy}}</div>
  </div>
  <div class="row">
    <div class="col-sm-2 infoLabel no-margin">Security: </div>
    <div class="col-sm-10 infoItem">{{selectedSystem.security}}</div>
  </div>
  <div class="row">
    <div class="col-sm-2 infoLabel no-margin">State: </div>
    <div class="col-sm-10 infoItem">{{selectedSystem.state}}</div>
  </div>
  <br />
  <br />

  <div class="row">
    <div class="col-sm-12 systemInfoHeader">Stations</div>
  </div>
  <div class="row" ng-repeat="station in stations">
    <div class="col-sm-12 infoItem text-left">{{station.name}}</div>
  </div>
</div>
